.pricing {
  margin-bottom: 25px;
}

.pricing__title {
  font-size: 3.6rem;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.pricing__boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing__box {
  border-radius: 18px;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
}

.pricing__box:nth-child(1) {
  border: 1px solid var(--c-third);
}

.pricing__box:nth-child(2) {
  border: 1px solid var(--c-first);
  margin: 0 60px;
}

.pricing__box:nth-child(3) {
  border: 1px solid var(--c-fourth);
}

.pricing__box-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 34px;
  margin-bottom: 14px;
}

.pricing__box-price {
  font-family: var(--f-second);
  font-size: 4.6rem;
}

.pricing__box:nth-child(1) .pricing__box-price {
  color: var(--c-third);
}

.pricing__box:nth-child(2) .pricing__box-price {
  color: var(--c-first);
}

.pricing__box:nth-child(3) .pricing__box-price {
  color: var(--c-fourth);
}

.pricing__box-extra {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 15px;
}

.pricing__box-list {
  font-family: var(--f-second);
  font-size: 1.4rem;
  line-height: 40px;
  list-style: none;
  margin-top: 69px;
}

.btn {
  font-family: var(--f-second);
  font-size: 1.3rem;
  color: #fff;
  text-decoration: none;
  border-radius: 23px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -25px;
}

.pricing__box:nth-child(1) .btn {
  background-color: var(--c-third);
}

.pricing__box:nth-child(2) .btn {
  background-color: var(--c-first);
}

.pricing__box:nth-child(3) .btn {
  background-color: var(--c-fourth);
}

.pricing__box-basic,
.pricing__box-professional,
.pricing__box-premium {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing__box-basic,
.pricing__box-premium {
  max-width: 370px;
  height: 460px;
}

.pricing__box-professional {
  max-width: 405px;
  height: 500px;
}

.pricing__box-basic .pricing__box-list li:nth-child(1n+1):nth-child(-1n+3)::before,
.pricing__box-professional .pricing__box-list li:nth-child(1n+1):nth-child(-1n+4)::before,
.pricing__box-premium .pricing__box-list li::before {
  content: "";
  width: 11px;
  height: 11px;
  background-image: url(../../assets/Ckechmark-1.svg);
  margin-right: 10px;
  display: inline-flex;
}

.pricing__box-basic .pricing__box-list li:nth-child(1n+4):nth-child(-1n+5)::before,
.pricing__box-professional .pricing__box-list li:nth-child(5)::before {
  content: "";
  width: 11px;
  height: 11px;
  background-image: url(../../assets/Close.svg);
  margin-right: 10px;
  display: inline-flex;
}


@media (max-width: 1200px) {
  .pricing__box:nth-child(2) {
    margin: 0 30px;
  }
}

@media (max-width: 1150px) {
  .pricing__title {
    margin-top: 60px;
    margin-bottom: 14px;
  }
  .pricing__boxes {
    flex-direction: column;

    .pricing__box {
      margin-bottom: 54px;

      .pricing__box-basic,
      .pricing__box-professional,
      .pricing__box-premium {
        flex-direction: row;
        justify-content: center;

        .pricing__box-text {
          width: 50%;
        }

        .pricing__box-list {
          width: 50%;
          text-align: left;
        }
      }

      .pricing__box-basic,
      .pricing__box-premium {
        width: 293px;
        height: 251px;
      }

      .pricing__box-professional {
        width: 339px;
        height: 277px;
      }
    }
  }

  .pricing__box-title,
  .pricing__box-price,
  .pricing__box-list {
    margin: 0;
  }

  .pricing__box-price {
    line-height: 62px;
  }

  .pricing__box-extra {
    margin: 2px 0;
  }
}